/*----------------------------------------------------
Flash message
-----------------------------------------------------*/
.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:#5C3353;
    font-weight:bold;
    color:white;
}

html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}
/* End Box Sizing */

a:link {
    text-decoration:underline;
}

/* http://mystrd.at/modern-clean-css-sticky-footer */
html {
    position:relative;
    min-height:100%;
    align-self: center;

}
body {
    margin:0 0 100px; /* bottom = footer height */
    text-align: center;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    font-family: 'Roboto', sans-serif;


}


footer {
    position: absolute;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background-color:#ccc;
    text-align:center;
    padding:5px;
}

.container {
        width: 400px;
        clear: both;
    }


  .container input {
        width: 100%;
        clear: both;
    }

/* End Sticky Footer */
